@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --background-50: #f8fafc;

    --foreground: #020817;
    --muted-foreground: #64748b;

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #0070f3;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --background-50: #0f172a;

    --foreground: #f8fafc;
    --muted-foreground: #94a3b8;

    --card: #0f172a;
    --card-foreground: #f8fafc;

    --popover: #0f172a;
    --popover-foreground: #f8fafc;

    --primary: #0ea5e9;
    --primary-foreground: #f8fafc;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cbd5e1;
  }
}
